body {
  color: white;
  font-size: 15pt;
  text-align: center;
  background-image: linear-gradient(to right, #00c6ff, #0072ff);
}

* {
  font-family: nova;
}

@font-face {
  font-family: nova;
  src: url("/0/ProximaSoft-Regular.ttf");
}

h3 {
  font-variant: small-caps;
}

.container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  margin-top: 50px;
  padding: 4px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  border: 2px solid #1B5BE2;
}

input {
  font-family: nova;
  width: 100%;
  outline: none;
  padding: 10px 8px;
  font-size: 15px;
  border: 0px solid #000000;
}

button {
  padding: 8px 16px;
  font-family: bold;
  border-radius: 5px;
  transition: 0.3s;
  border: none;
  box-shadow: 10px 5px 20px rgb(0, 0, 0, .5);
}

button:focus {
  box-shadow: 0px 0px 0px rgb(0, 0, 0, .5);
}

a {
  transition: 0.4s;
  padding-top: 40px;
  text-decoration: none;
  border-bottom: 5px solid tomato;
}
a:hover {
  border-bottom: 5px solid green;
}